.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - var(--small-container) * 2);
}

.content {
    margin-top: 3em;
}

.intro {
    margin-bottom: 3em;
}

.title {
    margin-bottom: 0;
}

.text1 {
    margin-bottom: 3em;
}

@media screen and (min-width: 525px) {
    .container {
        height: calc(100vh - var(--large-container) * 2);
    }

    .content {
        width: 80vw;
        margin: auto;
        max-width: 35em;
    }

    .section {
        display: flex;
        justify-content: space-between;
    }

    .text {
        width: 20em;
    }
}