.header {
    display: flex;
    flex-direction: row;
    transition: 0.1s;
    justify-content: space-between;
}

.header_title {
    margin-bottom: 0.5em;
}

.header_about:hover {
    padding-top: 0.5em;
}



@media screen and (min-width: 525px) {

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header_title {
        margin-bottom: 0;
    }


}