.index {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - var(--small-container) * 2);
}

.exhibit {
    bottom: 0px;
    width: 100%;

    /* padding: 14px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 16px 0;
}

.controls {
    display: flex;
    align-items: center;
}

.controls>svg {
    margin-right: 8px;
}

.song {
    margin-left: 8px;
}

@media screen and (min-width: 525px) {
    .index {
        height: calc(100vh - var(--large-container) * 2);
    }

    .play_button {
        bottom: 24px;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
    }
}