@font-face {
    font-family: "Monument Extended";
    src: url("../fonts/MonumentExtended-Medium.woff2") format("woff2"),
        url("../fonts/MonumentExtended-Medium.woff") format("woff");
}

@font-face {
    font-family: "Founders Grotesk";
    src: url("../fonts/founders-grotesk-web-semibold.woff2") format("woff2"),
        url("../fonts/founders-grotesk-web-semibold.woff") format("woff");
}

@font-face {
    font-family: "Founders Grotesk Text";
    src: url("../fonts/founders-grotesk-text-web-regular.woff2") format("woff2"),
        url("../fonts/founders-grotesk-text-web-regular.woff") format("woff");
}

:root {
    --small-container: 14px;
    --large-container: 24px;

}

* {
    color: white;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.container {
    padding: var(--small-container);
}

h1 {
    font-family: "Monument Extended", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 120%;
    text-transform: uppercase;
}

h2 {
    font-family: "Founders Grotesk", "Helvetica", "Arial", sans-serif;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
}

h3 {
    font-family: "Monument Extended", "Helvetica", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 120%;
    text-transform: uppercase;
}

h4 {
    font-family: "Founders Grotesk Text", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

p {
    font-family: "Founders Grotesk Text", "Helvetica", "Arial", sans-serif;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 1em;
}

.header {
    display: flex;
    flex-direction: row;
    transition: 0.1s;
    justify-content: space-between;
}

.header_title {
    margin-bottom: 0.5em;
}

a>* {
    transition-duration: 0.1s;
}

a>p {
    /* border-bottom: 2px dotted white; */
    text-decoration: underline;
    display: inline;
}

h4>a {
    text-decoration: underline;
}

.hide {
    display: none;
}

.disappear {
    transition-duration: 1s;
    opacity: 0;
}

#remove {
    cursor: default;
    z-index: -20;
}

.fade-in {
    opacity: 100%;
    transition-duration: 1s;
}

.bottom_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: white;
    margin: 0px;
    margin-top: 16px;
}

.bold {
    font-weight: 500;
}

.label {
    opacity: 60%;
}

@media screen and (min-width: 525px) {
    .container {
        padding: var(--large-container);
    }

    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    .header_title {
        margin-bottom: 0;
    }

    .divider {
        display: none;
    }

    .bottom_nav {
        justify-content: flex-start;

    }

    .bottom_nav_arrow {
        margin-right: 1em;
        transition: 0.1s;
    }

    .bottom_nav:hover .bottom_nav_arrow {
        margin-right: 2em;
    }

    .bottom_nav_arrow_right {
        margin-left: 1em;
        transition: 0.1s;

    }

    .bottom_nav:hover .bottom_nav_arrow_right {
        margin-left: 2em;
    }

    .bottom_content {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}