* {
    color: white;
}

body {
    background-color: black;
}

.container {
    padding: 14px;
}

h1 {
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 0.7em;
    line-height: 120%;
}


@media screen and (min-width: 525px) {
    .container {
        padding: 24px;
    }
}